// Global

@mixin mq($size){
  // small to big screen
  // take effect only if screen-size > $size
  @media only screen and (min-width: $size){
    @content
  }
};

@import "./abstracts/_abstracts-dir";
@import "./partials/global/add-on-classes";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $clr-primary-bg;
}


html {
  font-size: 16px;
  font-family: $primary-font;
  background-color: $clr-secondary-bg;
}

li {
  list-style: none;
  display: inline-block;
}

p,
h2 {
  color: $clr-primary-txt;
  line-height: 1.2;
}
:focus {
  outline: none;
}





.btn {
  border: 0;
  background-color:$clr-secondary-bg;
  color: $clr-secondary-txt ;
  padding: 10px;
  &:hover {

    cursor: pointer;
    background-color: $clr-primary-bg-lighter ;
    color: $clr-primary-txt;
    transition: 0.3s;
  }
}

.right-btn {
  right: 0;
}

.out-mains {
  background-color: $clr-primary-bg-lighter;
  min-height: calc(100vh - 95px - 36px );
  display: grid;
  place-items: center;

  @include mq(510px) {
    min-height: calc(100vh - 62px - 36px);
  }

  h2{
    text-align: center;
    padding:10px;
  }

  p{
    text-align: center;
  }

  a{
    color: inherit;
    &:hover{
      color: $clr-primary-txt-hov;
    }
  }
}

.form-container{

  width: 95%;
  background-color: $clr-primary-bg;
  padding: 10px;

  @include mq(510px){
    width: 60%;
  }


  form{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

}


.flex-column{
  display: flex;
  flex-direction: row;

  justify-content: space-around;
}
.form-control{
  width: 100%;
  padding: 5px;
  resize:vertical;
}

.form-btn{
  background-color: $clr-primary-bg-lighter;
}

//index styles
@import "./partials/global/header";
@import "./partials/index/home";


// gallery styles
@import "./layouts/main";
@import "./layouts/footer";
@import "./components/modal";




@import "./partials/global/mediaqueries";

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Cormorant:ital,wght@1,700&family=Lemonada:wght@600&family=Sniglet&display=swap");

@import "vendor/_vendor-dir";