

//main styles

main{
  background-color: $clr-secondary-bg;
  overflow: hidden;
}



#grid-container {
  background-color: $clr-secondary-bg;
  margin: 1.2rem auto 1.25rem;
  width: 90%;

  @include mq(700px) {
    min-height: calc(100vh - 50px - 66px - 2.45rem);
  }

  @include mq(1077px) {
    min-height: calc(100vh - 61px - 66px - 2.45rem);
  }
}


.banner{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: $clr-secondary-txt;
  background-color: wheat;
}

//this will be overwritten at =<700px screen width
.unshoved{
  min-height: calc(100vh - 51px - 66px - 2.45rem);
}
.shoved{
  min-height: calc(100vh - 94px - 66px - 2.45rem);
}
//footer styles